{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post">
        <fieldset>
          <div>
          <input type="hidden" name="id" id="id" value="{{dados_estab.id}}">
          </div>
        <div class="form-group">
            <label for="rz_social">Razão Social</label>
            <input type="text" id="rz_social" name="rz_social" class="form-control" value="{{dados_estab.rz_social}}" required="true">
          </div>
          <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <input type="text" id="cnpj" name="cnpj" class="form-control" value="{{dados_estab.cnpj}}" required="true" placeholder="Insira o CNPJ sem pontuação" maxlength="14" >
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" class="form-control" value="{{dados_estab.email}}" >
          </div>
          <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" name="endereco" class="form-control" value="{{dados_estab.endereco}}">
          </div>
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-control" value="{{dados_estab.cidade}}" >
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" class="form-control" value="{{dados_estab.estado}}" >
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone" class="form-control" value="{{dados_estab.telefone}}" >
          </div>
            <div class="form-group">
            <label for="dtcadastro">Data Cadastro</label>
            <input type="date" id="dtcadastro" name="dtcadastro" class="form-control" value="{{dados_estab.dtcadastro}}" >
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
              <select class="form-control" id="categoria" name="categoria">
                <option >Supermercado</option>
               <option>Restaurante</option>
                <option>Borracharia</option>
                <option>Posto</option>
                <option>Oficina</option>
              </select>
          </div>
           <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" name="status">
                <option >Ativo</option>
                <option >Inativo</option>
              </select>
          </div>
            <div class="form-group">
            <label for="agencia">Agencia</label>
            <input type="text" id="agencia" name="agencia" class="form-control" value="{{dados_estab.agencia}}" placeholder="xxxx">
          </div>
            <div class="form-group">
            <label for="conta">Conta</label>
            <input type="text" id="conta" name="conta" class="form-control" value="{{dados_estab.conta}}" placeholder="xxxxx-x">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
          <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
        </fieldset>
      </form>
   {% endblock %}






