
{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Razação Social</th>
                    <th>CNPJ</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Telefone</th>
                    <th>Data Cadastro</th>
                    <th>Categoria</th>
                    <th>Status</th>
                    <th>Agencia</th>
                    <th>Conta</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            {% for lista in elista %}
                <tr>
                    <td>{{lista.rz_social}}</td>
                    <td>{{lista.cnpj}}</td>
                    <td>{{lista.email}}</td>
                    <td>{{lista.endereco}}</td>
                    <td>{{lista.cidade}}</td>
                    <td>{{lista.estado}}</td>
                    <td>{{lista.telefone}}</td>
                    <td>{{lista.dtcadastro}}</td>
                    <td>{{lista.categoria}}</td>
                    <td>{{lista.status}}</td>
                    <td>{{lista.agencia}}</td>
                    <td>{{lista.conta}}</td>
                    <td><a href = "{{ url_for('editar', id=lista.id) }}">Editar</a></td>
                    <td><a href = "{{ url_for('deletar', id=lista.id) }}">Deletar</a></td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
 <a href="{{ url_for('novo') }}" class="btn btn-primary">Novo</a>
{% endblock %}